<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600&family=Poppins:ital,wght@0,300;0,400;0,600;0,900;1,500;1,600&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="./css/style.css">
		<link rel="stylesheet" href="./responsive/style.css">
		<title>Portfolio</title>
	</head>
	<body>
		<header>
			<div class="login-logo">
				<a href="#"><img src="./img/login.svg" class="img-login"></a>
			</div>

			<div class="logo">
				<h1>Naffai<span>.</span>
				</h1>
			</div>
			<ul>
				<li><a href="#">A propos</a></li>
				<li><a href="#">Formations</a></li>
				<li><a href="#">Projets</a></li>
				<li><a href="#">Contact</a></li>
			</ul>

		</header>

		<section class="header-h">

			<div class="title-header">
				<h1>Developpeur
					<span>web</span>
				</h1>
			</div>

			<div class="sous-text">
				<p>Concepteur, développeur d'application</p>
			</div>


			<div class="me">
				<img src="./img/moi.jpg" alt="">
			</div>

			<div class="cadre-vert">
				<img src="./img/cadre.svg" alt="">
			</div>
		</section>

		<main>
			<section class="separation"></section>

			<section class="about">
				<img src="./img/aboutimg.svg" class="apropos">

				<div class="title">
					<h1>A propos</h1>
				</div>

				<div class="para">
					<p>Je m’appelle Naffaï, je suis tout juste sortie du lycée après avoir obtenu mon baccalauréat réalisation de Produits Imprimés et Plurimédia option production Graphique. J’ai décidé du jour au lendemain de changer de métier après qu’un proche à moi m’ait parlé un peu en plusieurs détails du développement web et les différents postes disponible et étant graphiste la partie front ma beaucoup plus. Il m’a parlé donc d’une école de formation dans le developpement web où il est lui même formateur, partie front ma beaucoup plus. Il m’a parlé donc d’une école de formation dans le developpement web où il est lui même formateur,</p>
				</div>
			</section>

			<section class="separation"></section>

			<section class="formation-blue">

			<div class="title-formation">
			<h1>Formation</h1>
			</div>

				<div class="forma-para">
					<p>2019-2020 - Seconde Réalisation Produits Imprimés et Plurimédia option Production Graphique <br>				
						2020-2021 - Prémière Réalisation Produits Imprimés et Plurimédia option Production Graphique <br>				
						2021-2022 - Terminal Réalisation Produits Imprimés et Plurimédia option Production Graphique<br>
						2022-2023 - Ecole RI7 concepteur, développeur d'applications</p>
				</div>

				<div class="logo-forma">
					<img src="./img/formation.svg" class="fleche">
				</div>
			</section>

			<section class="contact">
			
			</section>

		</main>

		<footer>
		
		</footer>
	</body>
</html>
